.movies_content .wrapper {
	padding: 30px 0;
}

.movie_section_wrapper {
	border-bottom: 1px solid #222;
	padding-bottom: 20px;
}

.movies_section {
	min-height: 1000px;
}

.dotsCss {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
}

.dot {
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 20px;
	transform: translate(0px, -40px);
	animation: bounce 1s infinite;
}

.dot:nth-child(2) {
	animation-delay: 0.2s;
}

.dot:nth-child(3) {
	animation-delay: 0.4s;
}

@keyframes bounce {
	0% {
		transform: translate(0px, -10px);
	}
	40% {
		width: 0px;
		height: 2px;
		transform: translate(0px, 40px) scale(1.7);
	}
	100% {
		height: 20px;
		transform: translate(0px, -20px);
	}
}

.movies_header .heading {
	font-size: 25px;
	font-weight: 700;
	color: #fff;
	line-height: 120%;
}

.movies_header {
	padding-bottom: 42px;
	border-bottom: 1px solid #222;
}

.empty-sect {
	height: 150px;
}

.movies_card_wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 26px;
}

.year_text {
	font-size: 22px;
	line-height: 19px;
	font-weight: 500;
	padding: 30px 0 30px;
	margin-bottom: 20px;
	border-bottom: 1px solid #222;
}
