.movies_content .wrapper {
	padding: 30px 0;
}

.movie_section_wrapper {
	border-bottom: 1px solid #222;
	padding-bottom: 20px;
}

.movies_header .heading {
	font-size: 25px;
	font-weight: 700;
	color: #fff;
	line-height: 120%;
}

.movies_header {
	padding-bottom: 42px;
	border-bottom: 1px solid #222;
}

.movies_card_wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 26px;
}

.year_text {
	font-size: 22px;
	line-height: 19px;
	font-weight: 500;
	padding: 20px 0 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #222;
}
