.genres_content {
	padding: 10px 0;
	overflow: auto;
	scroll-behavior: smooth;
}

.genres_chip {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 6px 12px;
	gap: 10px;
	background: #222222;
	border-radius: 4px;
	min-width: fit-content;
	cursor: pointer;
}

.genres_content::-webkit-scrollbar {
	width: 2px;
	cursor: pointer;
}

/* Track */
.genres_content::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px grey;
	border-radius: 5px;
	cursor: pointer;
}

/* Handle */
.genres_content::-webkit-scrollbar-thumb {
	background: #222222;
	border-radius: 5px;
	cursor: pointer;
}

.genres_chip:hover,
.genres_chip.active {
	background-color: #f0283c;
}

.genres_content {
	display: flex;
	align-items: center;
	gap: 15px;
}

.genres_name {
	font-size: 16px;
	line-height: 16px;
	font-weight: 400;
}
